extends layouts/main-layout.pug

block content 
    h1 All users list(from pug) ...!
    if users.length > 0
        ul
            each user in users
                li #{user.title}                      
    else 
        h1 No users    